* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}