* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center {
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    place-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    color: white;
    margin-left: 6rem;
}